//colors
$primary: #1b2730;
$primary1: #f04c24;
$primary2: #717275;
$grey1: #1b2730;
//font
$Regular: "IBMPlexMono-Regular";
$Medium: "IBMPlexMono-Medium";
$SemiBold: "IBMPlexMono-SemiBold";
$Bold: "IBMPlexMono-Bold";
$Thin: "IBMPlexMono-Thin";