@use "../../config/variables.scss" as vars;

.footer-txt1 {
  color: vars.$a1;
  font-family: vars.$Bold;
  font-size: 15px;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
  &:hover {
    color: vars.$f1;
    transform: translateY(-3px);
  }
}

.footer {
  background-color: vars.$g1;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 30px 0px;
}

.footer-box1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.footer-box2 {
  background-color: vars.$a1;
  padding: 5px;
  border-radius: 6px;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
  &:hover {
    // background-color: vars.$f1;
    transform: translateY(-3px);
  }
}

.footer-box3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer-icon {
  color: #002400;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
  &:hover {
    color: #ff5154;
    transform: translateY(-3px);
  }
}
